<section id="policy">
    <h1>Privacy Policy</h1>
    <p>Last revised: <time datetime="2023-06-10">June 10, 2023</time></p>
    <p>
        This Privacy Policy document contains types of information that is collected
        and recorded by
        <a href="https://openletter.mousetail.nl/" target="_blank"
            >openletter.mousetail.nl</a
        >
        and how we use it. If you have additional questions or require more
        information about our Privacy Policy, do not hesitate to
        <a href="mailto:mousetail@mousetail.nl">contact us</a>.
    </p>

    <section id="gdpr">
        <h2>General Data Protection Regulation (GDPR)</h2>
        <p>
            We are a Data Controller of your information. Our legal basis for
            collecting and using the personal information described in this Privacy
            Policy depends on the Personal Information we collect and the specific
            context in which we collect the information:
        </p>
        <ul>
            <li>we need to perform a contract with you;</li>
            <li>you have given us permission to do so;</li>
            <li
                >processing your personal information is in our legitimate
                interests;</li
            >
            <li>we needs to comply with the law.</li>
        </ul>
        <p>
            We will retain your personal information only for as long as is
            necessary for the purposes set out in this Privacy Policy.
        </p>
        <p>
            We will retain and use your information to the extent necessary to
            comply with our legal obligations, resolve disputes, and enforce our
            policies.
        </p>
        <p>
            If you are a resident of the European Economic Area (EEA), you have
            certain data protection rights. If you wish to be informed what Personal
            Information we hold about you and if you want it to be removed from our
            systems, please
            <a href="mailto:mousetail@mousetail.nl">contact us</a>.
        </p>
        <p>
            In certain circumstances, you have the following data protection rights:
        </p>
        <ul>
            <li
                >the right to access, update or to delete the information we have on
                you;</li
            >
            <li>the right of rectification;</li>
            <li>the right to object;</li>
            <li>the right of restriction;</li>
            <li>the right to data portability;</li>
            <li>the right to withdraw consent.</li>
        </ul>
    </section>

    <section id="logs">
        <h2>Log Files</h2>
        <p>
            We follow a standard procedure of using log files. The information
            collected by includes:
        </p>
        <ul>
            <li>internet protocol (IP) addresses;</li>
            <li>user agent strings;</li>
            <li>date and time stamps;</li>
            <li>referring/exit pages;</li>
        </ul>
        <p>
            These are not linked to any information that is personally identifiable.
            This information is only used for administering the site.
        </p>
    </section>

    <section id="cookies">
        <h2>Cookies and Web Beacons</h2>
        <p>We do not use cookies or Web Beacons.</p>
    </section>

    <section id="children">
        <h2>Children's Information</h2>
        <p>
            We do not knowingly collect any Personal Identifiable Information from
            children under the age of 13. If you think that your child provided this
            kind of information on our website, we strongly encourage you to
            <a href="mailto:mousetail@mousetail.nl">contact us</a> immediately, and
            we will do our best efforts to promptly remove such information from our
            records.
        </p>
    </section>

    <section id="online-only">
        <h2>Online Privacy Policy Only</h2>
        <p>
            Our Privacy Policy applies only to our online activities and is valid
            for visitors to our website with regards to the information that they
            shared and/or collect in
            <a href="https://openletter.mousetail.nl/" target="_blank"
                >openletter.mousetail.nl</a
            >. This policy is not applicable to any information collected offline or
            via channels other than this website.
        </p>
    </section>

    <section id="consent">
        <h2>Consent</h2>
        <p>
            By using our website, you hereby consent to our Privacy Policy and agree
            to its terms.
        </p>
    </section>
</section>