<section class="faq">
    <h2 id="faq">FAQ</h2>

    <h4>Why not judge AI-generated content by the same standards as other content?</h4>

    <p>
        Content by generative AI like ChatGPT is a special blend of garbage: While superficially well written, it often
        embeds incorrect answers in correct but irrelevant waffling, made-up references, and non sequiturs. The primary
        intended mechanism against such content is downvoting and editing, not deletion – moderators don’t act based on
        correctness for a good reason. However, AI content often bypasses the voting system by tricking inexperienced
        users into upvoting and accepting due to its superficial quality.
    </p>

    <p>
        Moreover, while humans occasionally produce content with similar properties, this requires some effort. By
        contrast, an AI can produce such content in seconds, while still causing the same effort in fact-checking and
        moderation – at least as long as we are required to handle it by the same standard as human answers.
    </p>

    <h4>What metrics do mods really use other than unreliable automatic AI detection tools to suspend users?</h4>

    <p>
        Just one tool saying one answer is AI is not enough to get a suspension. Moderators look for various heuristics,
        including posting patterns, answer speed, writing style, and others, in order to identify AI-generated content.
        This can include checking an automated detector, but this is not a primary method used, due to the false
        positive rate. While any one method can be unreliable, when an answer matches multiple heuristics, moderators
        can be relatively confident that the post is indeed AI-generated.
    </p>

    <p>
        Mods already err on the side of lenience. If they are unsure something is AI written no suspensions are issued.
    </p>

    <p>
        The new policy bans use of all manual and automatic detection methods, even when combined, leaving no options.
        Mods will be unable to remove even obvious AI content, and thus it will flood the site.
    </p>

    <h4>I am not a moderator on any Stack Exchange site, how can I help?</h4>

    <p>Even if you are not a moderator you can participate in the strike by:</p>

    <ul>
        <li>Not voting on posts</li>
        <li>Not submitting edits</li>
        <li>Not reviewing in the review queues</li>
        <li>Not commenting</li>
        <li>Not flagging posts</li>
    </ul>

    <p><b>DO NOT</b> engage in vandalism. We're abstaining from moderation, not trying to be actively destructive.</p>
    <ul>
        <li>
            <b>DO NOT</b> purposefully submit AI-generated answers during the strike. While we will not be removing them
            during the strike you may be suspended afterwards. We anticipate plenty will get posted anyway without
            purposefully submitting more.
        </li>
        <li>
            <b>DO NOT</b> upvote spam, AI generated posts, or other low quality posts. Do not downvote good posts. That
            is just disrespectful, better to not vote at all.
        </li>
        <li><b>DO NOT</b> be rude to Stack Exchange employees, those who choose not to strike, or anyone else.</li>
    </ul>
    
    <h4>Where can I learn more?</h4>

    <p>
        The situation is continuously developing, but here are a few starting points for following up:
    </p>
    <ul>
        <li>
            <a href="https://meta.stackexchange.com/questions/389811/moderation-strike-stack-overflow-inc-cannot-consistently-ignore-mistreat-an">
            Moderation Strike: Stack Overflow, Inc. cannot consistently ignore, mistreat, and malign its volunteers</a>
            summarizes the situation and has links to more information, as well as comments by engaged users.
            Many other recent posts on <a href="https://meta.stackexchange.com/">Stack Exchange Meta</a>
            cover various aspects of the current crisis and its underpinnings and effects.
            Perhaps see also <a href="https://meta.stackoverflow.com">Stack Overflow Meta</a>, though
            this site has fewer posts about this topic.
            (The Stack Exchange meta site covers the entire network,
            whereas the Stack Overflow one is specific to the network's flagship site.)
         </li>
         <li>
            There is a Discord channel for participants, where various aspects of the event are being discussed.
            <a href="https://discord.gg/PbEPURd">https://discord.gg/PbEPURd</a>
         </li>
    </ul>
</section>
