<!DOCTYPE html>
<html>

<head>
    <title>Privacy</title>
    
    <%- include('../common/header') %>
</head>

<body>
    <header>
        <div class="header-inner">
            <nav class="header-nav">
                <ul>
                    <li>
                        <a href="/#letter">Letter</a>
                    </li>
                    <li>
                        <a href="/#signatures">Signatures</a>
                    </li>
                    <li>
                        <a href="/#sign">Sign</a>
                    </li>
                    <li>
                        <a href="/#faq">FAQ</a>
                    </li>
                </ul>
            </nav>
            <button type="button" class="color-mode-toggle" title="Toggle light/dark mode"><i class="fa-sun fas"></i><i
                    class="fa-moon fas"></i></button>
        </div>
    </header>
    <div class="content-container">
        <main>
            <%- content %>
        </main>
    </div>
</body>

<%- include('../common/footer') %>

</html>