// Important: When editing this file change the version number in views/layouts/application.ejs
// Otherwise people will still have the old version cached

body {
    background: #222;
}

a {
    color: #3396ff;

    &:hover {
        color: #66b0ff;
    }
}

hr {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.text-muted {
    color: #8f979e !important; // Override !important in bootstrap

    a {
        color: #0074f0;
    }
}

.btn-primary {
    background: #3396ff;
    border-color: #3396ff;
}

.form-control {
    color: #ffffff;
    background: #2c2c2c;
    border: 1px solid #ced4da;

    &:focus {
        color: #ffffff;
        background: #444;
    }
}

.color-mode-toggle {
    background: #eee;
    color: #222;
    border: none;

    .fa-sun {
        display: block;
    }

    .fa-moon {
        display: none;
    }
}

aside {
    background: #453700;
    color: #ddd;
    border-color: #666;

    &.danger {
        background-color: #4f0000;
        color: #ddd;
        border-color: #666;
    }
}

main {
    background: #333;
    color: #ddd;
}

header {
    filter: brightness(0.8) contrast(1.2);
}

.content-container {
    box-shadow: 0 0 0.5em #111;
}

section.signatories {
    .signatories-header {
        h5 {
            color: #aaa;
        }
    }

    .expand-wrapper {
        box-shadow: inset 0px 7px 5px -3px rgba(255, 255, 255, 0.1);

        a {
            border-top: 1px solid #333;
            background-color: #333;
        }
    }
}

.signatory-panel > p:hover {
    background: #444;
}

.footer {
    color: white;
}

.btn {
    color: white;

    &:hover {
        color: lightgrey;
    }
}
