// Important: When editing this file change the version number in views/layouts/application.ejs
// Otherwise people will still have the old version cached

body {
    background: #222;
}

.color-mode-toggle {
    background: #eee;
    color: #222;
    border: none;

    .fa-sun {
        display: block;
    }
    .fa-moon {
        display: none;
    }
}

main {
    background: #333;
    color: #ddd;
}

aside {
    background: #453700;
    color: #ddd;
    border-color: #666;
}

aside.danger {
    background-color: #4f0000;
    color: #ddd;
    border-color: #666;
}

.text-muted a {
    color: #d9d9d9;
}

header {
    filter: brightness(0.8) contrast(1.2);
}

.content-container:after {
    box-shadow: 0 0 0.5em #111;
}

section.signatories h5 {
    color: #aaa;
}

.signatory-panel p:hover {
    background: #444;
}

.text-muted {
    color: #8f979e !important; // Override !important in bootstrap
}

a {
    color: #3396ff;
}

.btn-primary {
    background: #3396ff;
    border-color: #3396ff;
}

.form-control {
    color: #ffffff;
    background: #2c2c2c;
    border: 1px solid #ced4da;

    &:focus {
        color: #ffffff;
        background: #444;
    }
}

.footer {
    color: white;
}

hr {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

section.signatories .expand a {
    border-top: 1px solid #333;
}
