// Important: When editing this file change the version number in views/layouts/application.ejs
// Otherwise people will still have the old version cached

body {
    --header-height: 58px;
    padding-top: var(--header-height);
    background: #eee;
    font-family: "Open Sans", sans-serif;
    font-size: 11pt;
}

small {
    font-size: 10pt;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5em;
    line-height: 1.4;
}

p {
    margin-bottom: 1.5em;
    line-height: 1.6;
}

ol,
ul {
    margin-bottom: 1.5rem;

    li {
        margin-bottom: 0.3em;
        line-height: 1.35;
    }
}

hr {
    margin: 1.5rem 0;
}

label {
    font-weight: bold;
}

.fa,
.fas {
    pointer-events: none;
}

.color-mode-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    background: #333;
    color: white;
    border: none;
    border-radius: 50%;

    .fa-sun {
        display: none;
        font-size: 11pt;
    }
    .fa-moon {
        display: block;
        font-size: 9pt;
    }
}

aside {
    display: flex;
    align-items: center;
    padding: 1.7em 2em 1.7em;
    border-bottom: 1px solid #e6dfc6;
    font-size: 10pt;
    color: #737063;
    background: #fff8dc;

    & > i:first-child {
        margin-right: 1.2rem;
        font-size: 1.2rem;
    }

    & > :last-child,
    p:last-child {
        margin-bottom: 0;
    }

    &.danger {
        color: #736464;
        background: #ffdbdb;
        border-bottom: 1px solid #e6c6c6;
    }

    @media screen and (max-width: 425px) {
        flex-direction: column;
        align-items: center;
        padding: 1.7em 1.2rem 1.7em;
        text-align: center;
        line-height: 1.4;

        & > i:first-child {
            margin-right: 0;
            margin-bottom: 0.8rem;
        }
    }
}

/* Offset anchors for fixed header https://stackoverflow.com/a/24298427 */
[id]::before {
    content: "";
    display: block;
    height: calc(var(--header-height) + 1.5rem);
    /* fixed header height + padding */
    margin-top: calc(-1 * (var(--header-height) + 1.5rem));
    /* (negative of) fixed header height + padding */
    visibility: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--header-height);
    overflow: hidden;

    background-color: #17a7db;
    background-image: url("https://cdn.sstatic.net/Sites/stackexchangemeta/img/background.svg");
    background-position: center left;
    background-repeat: repeat;
    background-size: auto;

    .header-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 960px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0.5rem 2rem;
        font-family: "Montserrat", sans-serif;
        color: white;

        background-color: transparent;
        background-image: url("https://cdn.sstatic.net/Sites/stackexchangemeta/img/icon-cloud-footer@2.png");
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: 475px;

        .header-nav {
            text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);

            ul {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    margin: 0 0.8em 0 0;
                    padding: 0;

                    a {
                        padding: 0.5em 0em;
                        color: white !important; // override dark mode link color
                    }
                }
            }
        }
    }
}

.content-container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 0 !important;
    box-shadow: 0 0 0.5em #d0cec8;
}

main {
    background: white;
    padding: 1rem 2rem 5rem;

    @media screen and (max-width: 425px) {
        padding: 1rem 1.5rem 3rem;
    }
}

section {
    margin: 1em 0;
}

section.letter {
    max-width: 650px;
    margin: 0 auto;

    h1 {
        color: #17a7db;
    }

    h2 {
        font-size: 14pt;
        font-weight: 600;
        color: #17a7db;
    }

    p {
        font-size: 11pt;
    }

    aside p {
        font-size: 10pt;
    }

    p.date {
        margin-top: 1rem;
    }
}

section.signatories {
    h5 {
        font-family: "Open Sans";
        font-style: italic;
        color: #555;
        margin: 0;
    }

    .expand {
        text-align: center;
        font-weight: bold;
        box-shadow: inset 0px 7px 5px -3px rgba(0, 0, 0, 0.1);

        a {
            display: inline-block;
            border: 1px solid #ddd;
            border-top: 1px solid white;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            margin: -1px auto 0 auto;
            padding: 0.5rem 2rem;
            background: white;
        }
    }
}

select {
    background-color: white;
    border: none;
    color: #555;
}

.signatory-header {
    align-items: end;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0.5em 0 1em 0;
}

.signatory-sort {
    &.hidden {
        visibility: hidden;
    }
}

.signatory-sort > form {
    display: flex;
    gap: 0.5rem;
    justify-content: end;

    legend {
        font-size: 10pt;
        margin: 0 0 0 5px;
    }
}

.signatory-panel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-height: 25em;
    overflow-y: scroll;
    border-bottom: 1px solid #ddd;

    &.expanded {
        max-height: unset;
        overflow-y: hidden;
    }

    @media screen and (min-width: 600px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: 760px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (min-width: 960px) {
        grid-template-columns: repeat(5, 1fr);
    }

    & > p {
        display: block;
        transition: all 0.2s ease;
        padding: 0.5em;
        border-radius: 4px;
        line-height: 1;
        margin-bottom: 0.5em;
        overflow-wrap: break-word;
        min-width: 0;

        &:hover {
            background: #eee;
        }
    }
}

section.signing {
    margin-top: 2em;

    h1 {
        font-size: 24pt;
    }

    button.btn-primary {
        background: #17a7db;
        border-color: #17a7db;
    }
}

section.faq {
    h4 {
        margin-top: 1.3em;
        margin-bottom: 1rem;
    }
}

.footer {
    max-width: 960px;
    width: 100%;
    margin: 1.8rem auto 3rem;
    padding: 0 1.5rem;
    text-align: center;
    font-size: 10pt;
    line-height: 1.35;
}

@media print {
    body {
        padding-top: 0;
        background-color: #f8f8f8;
    }

    header {
        position: static;
    }

    section.signing {
        display: none;
    }

    section.signatories {
        page-break-inside: avoid;

        .signatory-sort {
            display: none;
        }

        .signatory-panel {
            grid-template-columns: repeat(4, 1fr) !important;
            max-height: unset;
            overflow-y: hidden;
            border-bottom: none;

            & > p {
                page-break-inside: avoid;
            }
        }

        .expand {
            display: none;

            .js-expand-signatories {
                display: none;
            }
        }
    }

    .content-container > aside {
        display: none;
    }
}
