<footer class="text-muted">
    <p>
        This page was originally designed by
        <a href="https://github.com/ArtOfCode-" targe="_blank">ArtOfCode</a>.
    </p>
    <p>
        If you see a mistake on this page, please consider contributing at
        <a href="https://github.com/mousetail/openletter" targe="_blank">mousetail/openletter</a>.
    </p>
    <p>
        Consider joining
        <a href="https://discord.gg/abJWUdTF" targe="_blank">the unofficial Stack Exchange Meta Discord</a>
        if you want to get involved.
    </p>
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="/privacy" target="_blank">Privacy</a>
        </li>
    </ul>
</footer>
